body{
  font-family: 'Roboto', sans-serif;
  background-color : rgb(31, 36, 11)
}

h1{
  text-align: center; 
  color: gray;
}

.star{
  width: 600px; 
  margin: 0px auto; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
  flex-wrap: wrap;

}
/* .starClick

{color: red ;} */

#list-of-stars{
  display: flex; 
  list-style: none; 
  font-size: 100px; 

}


/* -------------------------- */
.star-checked{
  color: #FECC02;


}

.star-unchecked{
     
  color: gray;
  cursor: pointer;
}
