
body{
  font-family: 'Roboto', sans-serif;
  background-color : rgb(31, 36, 11);
  height: 100vh; 

}

h1{
  text-align: center; 
  color: gray;
  font-size: 25px; 
}

.star{
 
  margin: 0px auto; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-size: 25px; 
  flex-wrap: wrap;
}

#list-of-stars{
  display: flex; 
  list-style: none; 
  font-size: 30px; 
  color: gray;
}


/* -------------------------- */
.star-checked{
  color: #FECC02;
}

.star-unchecked{
  color: red;
}